* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: antiquewhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	color: #592a00;
}

.header {
	font-size: 40px;
	text-align: center;
	margin: 40px 0 0 0;
	text-shadow: -4px 10px 18px rgb(58, 0, 0, 0.25);
	width: 100%;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.header h1 {
	padding: 0 30px 30px 30px;
}

.splash {
	width: 40%;
	height: 100vh;
	background-image: url('/cookies.svg');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	position: fixed;
}

.splashLeft {
	left: 0;
}

.splashRight {
	right: 0;
}

.content {
	width: 60%;
	height: 100vh;
	overflow: scroll;
}

.contentFull {
	width: 100%;
}

.contentFlex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.right {
	float: right;
}

.left {
	float: left;
}

@media screen and (max-width: 555px) {
	.content {
		width: 100%;
	}

	.splash {
		display: none;
	}
}

@media screen and (max-height: 645px) {
	.content {
		height: 100%;
	}
}

.loginBox {
	background-color: rgb(252, 245, 224);
	border-radius: 50px;
	background: #faebd7;
	box-shadow: -15px 15px 45px #d5c8b7, 15px -15px 45px #f7ebd9;
	margin: 0 40px 60px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	text-align: center;
	padding: 20px;
}

.loginField {
	border-radius: 10px;
	background-color: rgb(252, 244, 234);
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-color: tan;
	border-width: 2px;
	border-style: solid;
	display: flex;
	height: 40px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	font-size: large;
}

.hText {
	font-weight: normal;
	margin: 15px;
}

.submit {
	height: 40px;
	padding: 10px;
	font-size: large;
	border-radius: 10px;
	border: none;
	background-color: #592a00;
	color: antiquewhite;
}

.submit:hover {
	box-shadow: -2px 5px 9px rgb(58, 0, 0, 0.25);
	cursor: pointer;
}

.submit a {
	color: antiquewhite;
}

.lighter {
	color: #7e6b5b;
}

a {
	text-decoration: none;
	color: #592a00;
}

a:hover {
	cursor: pointer;
}

.lighter a {
	color: #7e6b5b;
}

.red a {
	color: red !important;
}

.userInfoBox {
	background-color: rgb(252, 245, 224);
	border-radius: 20px;
	background: #faebd7;
	box-shadow: -15px 15px 45px #d5c8b7, 15px -15px 45px #f7ebd9;
	margin: 0 40px 60px 40px;
	text-align: left;
	padding: 10px;
}

table {
	font-weight: normal;
	width: 90%;
	margin: 20px;
}

td,
th {
	border: 1px solid #d5c8b7;
	text-align: left;
	padding: 8px;
}

th,
tr:nth-child(even) {
	background-color: #d5c8b7;
}

.startGame {
	background-image: url('/startGame.png');
	width: 200px;
	height: 200px;
	background-size: cover;
	filter: drop-shadow(-6px 6px 10px rgba(46, 16, 0, 0.685));
	margin: 20px;
	display: block;
	cursor: pointer;
}

.startGame:hover {
	filter: drop-shadow(-4px 4px 8px rgba(46, 16, 0, 0.685));
}

.startGame:active {
	filter: drop-shadow(-2px 2px 5px rgba(46, 16, 0, 0.685));
}

.dashboardBtn {
	padding: 15px;
	font-size: larger;
	border-radius: 12px;
	border-style: none;
	background: #eeddc7;
	box-shadow: -7px 7px 14px #cfc0ad, 7px -7px 14px #fffae1;
	margin: 15px;
	cursor: pointer;
}

.dashboardBtn:hover {
	box-shadow: -4px 4px 8px #cfc0ad, 4px -4px 8px #fffae1;
}

.dashboardSignOut {
	background: #e5d5c0;
}
